<template>
  <div class="wrapperEditTask">
      <h2>Edit task</h2>
      <form>
        <label for="titleTask">Title</label>
        <input id="titleTask" type="text">
        <label for="descTask">Description</label>
        <input id="descTask" type="text">
        <button id="buttonSaveTask">Search</button>
        <button id="buttonResetTask">Reset</button>
      </form>
  </div>
</template>

<script>
export default {
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
